rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /permissions/{userId} {
      allow read: if request.auth.uid == userId;
    }

    match /profiles/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == userId;
    }

    match /camps/{campId} {
      allow read: if request.auth.uid != null;

      match /promoCodes/{promoCodeId} {
        // allow only get (no list, no write)
        allow get: if request.auth.uid != null;
      }
    }

    match /participants/{docId} {
      allow read: if request.auth.uid != null && resource.data.userId == request.auth.uid;

      match /installments/{installmentId} {
        allow read: if request.auth.uid != null && get(/databases/$(database)/documents/participants/$(docId)).data.userId == request.auth.uid;
      }
    }

    match /stripeCheckoutSessions/{sessionId} {
      allow read: if request.auth.uid != null && resource.data.userId == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if request.auth.uid != null && get(/databases/$(database)/documents/permissions/$(request.auth.uid)).data.isAdmin == true;
    }
  }
}
